
$SIDEMENU_TOP: #0277BD;
$SIDEMENU_BOTTOM: #4FC3F7;
$SIDEMENU_TRANSPARENCY: rgba(255,255,255,0.6);

.toolbar-background {
  background-color: #03A9F4;

}
.toolbar-title{
  color:white;
  font-size: 180%;
  text-align: center;
}
.bar-button-default {
  color: white;
}


.sidemenugradient{
  background: -webkit-linear-gradient(left top, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
  background: -o-linear-gradient(bottom right, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
  background: -moz-linear-gradient(bottom right, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
  background: linear-gradient(to bottom right, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
}

.ion-list{
  background:none;
  color:white;
  font-weight:500;
  border:0px;

  .item{
    border:0px;
    padding-top: 5px;
    padding-bottom: 5px;
    color:white;
    background:none;
    font-weight: bold;
    box-shadow: inset -2px -4px 10px -3px rgba(0,0,0,0.50);

    &.activated{
      background: $SIDEMENU_TRANSPARENCY;
    }
  }
  &.active-page-highlight{
    .item{
      background: $SIDEMENU_TRANSPARENCY;
    }
  }

}


